#buttonV {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
  color: white;
  box-shadow: 0 0 20px #eee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    background-image: linear-gradient(
      111.4deg,
      rgba(7, 7, 9, 1) 6.5%,
      rgba(27, 24, 113, 1) 93.2%
    );
  }
}

#buttonB {
  background-image: linear-gradient(
    111.4deg,
    rgba(7, 7, 9, 1) 6.5%,
    rgba(27, 24, 113, 1) 93.2%
  );
  color: white;
  box-shadow: 0 0 20px #eee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(100, 43, 115, 1) 0%,
      rgba(4, 0, 4, 1) 90%
    );
  }
}

#bgBlue {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.shadowCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shodowBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadowOnHover {
  &:hover {
    transition: all 0.2s ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.bgLight {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.innerShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 3px 6px -3px inset;
}